body {
    background-color: black;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: blueviolet;
}

#allContentainer {
    height: 625px;
    display: flex;
    margin: auto;
}


#container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: black;
    border: solid 4px blueviolet;
}

.case {
    box-sizing: border-box;
    background-color: black;
}